# macOS
.DS_Store

# notes
notes/

# data
data/

# python
__pycache__/

# MidiTok should be cloned into the project root directory
# so that it's convenient for editing or to provide a copy
# that contains unreleased changes.
MidiTok/
